agendabot_v15.json
{
  "name": "AgendaBot V15 - SIN LOGS (FUNCIONAL)",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"]
      },
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [240, 400],
      "credentials": {
        "telegramApi": {
          "id": "PLACEHOLDER",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "telegram_user",
              "value": "={{ $json.message.from.id }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "chat_id",
              "value": "={{ $json.message.chat.id }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "user_msg",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            }
          ]
        }
      },
      "name": "Set Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 400]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "196K9mqVfhN8JUFpZfrvXQftcrTnQxOCqiUU_aB6I52Q",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "SESSIONS"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "telegram_user",
              "lookupValue": "={{ $json.telegram_user }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Get Session",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [680, 400],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PLACEHOLDER",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.row_number }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Session Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [900, 400]
    },
    {
      "parameters": {
        "jsCode": "// Preparar datos para crear nueva sesión\nconst userVars = $('Set Variables').first().json;\n\nreturn {\n  json: {\n    telegram_user: userVars.telegram_user,\n    pantalla_actual: \"menu_principal\",\n    paso_actual: \"0\",\n    datos_parciales: \"{}\",\n    timestamp_ultima_interaccion: userVars.timestamp\n  }\n};"
      },
      "name": "Prepare New Session",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 550]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "196K9mqVfhN8JUFpZfrvXQftcrTnQxOCqiUU_aB6I52Q",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "SESSIONS"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $json.telegram_user }}",
            "pantalla_actual": "={{ $json.pantalla_actual }}",
            "paso_actual": "={{ $json.paso_actual }}",
            "datos_parciales": "={{ $json.datos_parciales }}",
            "timestamp_ultima_interaccion": "={{ $json.timestamp_ultima_interaccion }}"
          }
        },
        "options": {}
      },
      "name": "Create New Session",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1340, 550],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PLACEHOLDER",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "196K9mqVfhN8JUFpZfrvXQftcrTnQxOCqiUU_aB6I52Q",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "SESSIONS"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "telegram_user",
              "lookupValue": "={{ $('Set Variables').first().json.telegram_user }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Re-fetch Session",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1560, 550],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PLACEHOLDER",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Merge session data de forma segura\nconst userVars = $('Set Variables').first().json;\nconst allInputs = $input.all();\n\n// Buscar datos de sesión\nlet sessionData = {\n  pantalla_actual: \"menu_principal\",\n  datos_parciales: \"{}\",\n  session_row_id: null\n};\n\n// Verificar si hay datos de sesión\nconst sessionItem = allInputs.find(item => \n  item.json.row_number || \n  item.json.pantalla_actual\n);\n\nif (sessionItem) {\n  const s = sessionItem.json;\n  sessionData = {\n    pantalla_actual: s.pantalla_actual || \"menu_principal\",\n    datos_parciales: s.datos_parciales || \"{}\",\n    session_row_id: s.row_number || null\n  };\n}\n\nreturn {\n  json: {\n    telegram_user: userVars.telegram_user,\n    chat_id: userVars.chat_id,\n    user_msg: userVars.user_msg,\n    timestamp: userVars.timestamp,\n    pantalla_actual: sessionData.pantalla_actual,\n    datos_parciales: sessionData.datos_parciales,\n    session_row_id: sessionData.session_row_id\n  }\n};"
      },
      "name": "Merge Session Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 400]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================================\n// LOGIC PROCESSOR V15 - AgendaBot FSM\n// ============================================================================\n\nconst session = $input.first().json;\nconst msg = (session.user_msg || \"\").trim();\nconst telegramUser = session.telegram_user;\nconst chatId = session.chat_id;\n\nlet pantalla = session.pantalla_actual || \"menu_principal\";\nlet datos = {};\n\ntry {\n  datos = JSON.parse(session.datos_parciales || \"{}\");\n} catch (e) {\n  datos = {};\n}\n\nlet botMsg = \"\";\nlet nextPantalla = pantalla;\nlet nextDatos = datos;\nlet accion = \"mensaje\";\nlet dbConfig = null;\n\n// ============================================================================\n// UTILIDADES\n// ============================================================================\n\nconst CANALES = { \"1\": \"Presencial\", \"2\": \"Virtual\", \"3\": \"Llamada\" };\nconst PRIORIDADES = { \"1\": \"Alta\", \"2\": \"Media\", \"3\": \"Baja\" };\n\nfunction validarFecha(fecha) {\n  if (!/^\\d{4}-\\d{2}-\\d{2}$/.test(fecha)) return { valido: false, error: \"Formato incorrecto\" };\n  const d = new Date(fecha);\n  const hoy = new Date();\n  hoy.setHours(0, 0, 0, 0);\n  if (isNaN(d.getTime())) return { valido: false, error: \"Fecha inválida\" };\n  if (d < hoy) return { valido: false, error: \"No puedes agendar en el pasado\" };\n  return { valido: true };\n}\n\nfunction validarHora(hora) {\n  if (!/^\\d{2}:\\d{2}$/.test(hora)) return { valido: false, error: \"Formato incorrecto\" };\n  const [h, m] = hora.split(\":\").map(Number);\n  if (h > 23 || m > 59) return { valido: false, error: \"Hora fuera de rango\" };\n  return { valido: true };\n}\n\n// ============================================================================\n// MENSAJES ESTÁNDAR\n// ============================================================================\n\nconst MENU_PRINCIPAL = \"Hola, soy AgendaBot 👋\\n\\nEstoy aquí para ayudarte a organizar tus citas, tareas y recordatorios de forma sencilla.\\n\\n📋 Menú principal:\\n0. Ayuda\\n1. Agenda (citas)\\n2. Tareas\\n3. Recordatorios\\n4. Hábitos\\n5. Listas\\n6. Reportes\\n7. Configuración\\n8. Administrador\\n\\n💡 Tip: Escribe solo el número y presiona enviar.\\nSugerencia: Si quieres empezar rápido, prueba la opción 1 (Agenda).\";\n\nconst MENU_AGENDA = \"Perfecto, vamos con tu agenda 📅\\n\\n¿Qué deseas hacer?\\n\\n1. Agendar una nueva cita\\n2. Consultar tu agenda\\n3. Reprogramar una cita\\n4. Cancelar una cita\\n5. Marcar una cita como completada\\n9. Volver al menú principal\";\n\nconst MENU_TAREAS = \"Perfecto, vamos con tus tareas 📋\\n\\n¿Qué deseas hacer?\\n\\n1. Crear nueva tarea\\n2. Ver mis tareas\\n3. Marcar como completada\\n4. Eliminar tarea\\n9. Volver al menú principal\";\n\n// ============================================================================\n// RESET GLOBAL\n// ============================================================================\n\nif (msg === \"99\") {\n  pantalla = \"menu_principal\";\n  nextPantalla = \"menu_principal\";\n  nextDatos = {};\n  botMsg = MENU_PRINCIPAL;\n}\n\n// ============================================================================\n// FSM\n// ============================================================================\n\nelse {\n  switch (pantalla) {\n    \n    case \"menu_principal\":\n      if (msg === \"0\") {\n        botMsg = \"📖 AYUDA\\n\\nAgendaBot te permite gestionar:\\n- Citas con clientes\\n- Tareas personales\\n- Recordatorios\\n- Hábitos diarios\\n\\nPara navegar, solo escribe el número de la opción.\\nEn cualquier momento puedes:\\n• Escribir 9 para volver al menú anterior\\n• Escribir 99 para volver al menú principal\\n\\n¿Necesitas más ayuda? Escríbeme y te guío paso a paso.\\n\\n9. Volver al menú principal\";\n        nextPantalla = \"ayuda_vista\";\n      }\n      else if (msg === \"1\") {\n        botMsg = MENU_AGENDA;\n        nextPantalla = \"agenda_menu\";\n      }\n      else if (msg === \"2\") {\n        botMsg = MENU_TAREAS;\n        nextPantalla = \"tareas_menu\";\n      }\n      else if (msg === \"3\") {\n        botMsg = \"⏰ RECORDATORIOS\\n\\n(Módulo en desarrollo)\\n\\n9. Volver al menú principal\";\n        nextPantalla = \"menu_principal\";\n      }\n      else {\n        botMsg = \"❌ Ups, esa opción no existe en este menú.\\n\\nPor favor escribe uno de los números que ves en pantalla.\\n\\n📍 Estás en: Menú principal\\n✅ Opciones disponibles: 0 al 8\\n\\n\" + MENU_PRINCIPAL;\n        nextPantalla = \"menu_principal\";\n      }\n      break;\n\n    case \"ayuda_vista\":\n      if (msg === \"9\") {\n        botMsg = MENU_PRINCIPAL;\n        nextPantalla = \"menu_principal\";\n      } else {\n        botMsg = \"Escribe 9 para volver al menú principal.\";\n        nextPantalla = \"ayuda_vista\";\n      }\n      break;\n\n    case \"agenda_menu\":\n      if (msg === \"1\") {\n        botMsg = \"Empecemos a crear tu cita ✨\\n\\n📅 Paso 1 de 6\\n¿Cuál es la fecha de la cita?\\n\\nFormato: YYYY-MM-DD\\nEjemplo: 2025-12-20\\n\\n9. Cancelar\";\n        nextPantalla = \"cita_n1_fecha\";\n        nextDatos = {};\n      }\n      else if (msg === \"2\") {\n        accion = \"get_db\";\n        dbConfig = {\n          table: \"CITAS\",\n          filters: [{ column: \"creado_por\", value: telegramUser }],\n          nextState: \"ver_citas\"\n        };\n        botMsg = \"Consultando tu agenda...\";\n        nextPantalla = \"ver_citas\";\n      }\n      else if (msg === \"9\") {\n        botMsg = MENU_PRINCIPAL;\n        nextPantalla = \"menu_principal\";\n        nextDatos = {};\n      }\n      else {\n        botMsg = \"❌ Opción no válida.\\n\\n\" + MENU_AGENDA;\n        nextPantalla = \"agenda_menu\";\n      }\n      break;\n\n    case \"cita_n1_fecha\":\n      if (msg === \"9\") {\n        botMsg = \"Agendamiento cancelado.\\n\\n\" + MENU_AGENDA;\n        nextPantalla = \"agenda_menu\";\n        nextDatos = {};\n        break;\n      }\n      \n      const validFecha = validarFecha(msg);\n      if (!validFecha.valido) {\n        botMsg = \"❌ \" + validFecha.error + \"\\n\\nPor favor usa el formato: YYYY-MM-DD\\nEjemplo: 2025-12-20\\n\\n9. Cancelar\";\n        nextPantalla = \"cita_n1_fecha\";\n      } else {\n        nextDatos.fecha = msg;\n        botMsg = \"⏰ Paso 2 de 6\\n¿A qué hora será la cita?\\n\\nFormato 24 horas: HH:MM\\nEjemplo: 14:30\\n\\n9. Cancelar\";\n        nextPantalla = \"cita_n2_hora\";\n      }\n      break;\n\n    case \"cita_n2_hora\":\n      if (msg === \"9\") {\n        botMsg = \"Agendamiento cancelado.\\n\\n\" + MENU_AGENDA;\n        nextPantalla = \"agenda_menu\";\n        nextDatos = {};\n        break;\n      }\n      \n      const validHora = validarHora(msg);\n      if (!validHora.valido) {\n        botMsg = \"❌ \" + validHora.error + \"\\n\\nPor favor usa el formato: HH:MM (24 horas)\\nEjemplo: 14:30\\n\\n9. Cancelar\";\n        nextPantalla = \"cita_n2_hora\";\n      } else {\n        nextDatos.hora = msg;\n        botMsg = \"👤 Paso 3 de 6\\n¿A nombre de quién es la cita?\\n\\nEscribe el nombre completo.\\n\\n9. Cancelar\";\n        nextPantalla = \"cita_n3_nombre\";\n      }\n      break;\n\n    case \"cita_n3_nombre\":\n      if (msg === \"9\") {\n        botMsg = \"Agendamiento cancelado.\\n\\n\" + MENU_AGENDA;\n        nextPantalla = \"agenda_menu\";\n        nextDatos = {};\n        break;\n      }\n      \n      if (msg.length < 3) {\n        botMsg = \"❌ El nombre debe tener al menos 3 caracteres.\\n\\nEscribe el nombre completo del cliente.\\n\\n9. Cancelar\";\n        nextPantalla = \"cita_n3_nombre\";\n      } else {\n        nextDatos.nombre = msg;\n        botMsg = \"📝 Paso 4 de 6\\nCuéntame brevemente el motivo de la cita.\\n\\nEjemplo: Asesoría técnica\\n\\n9. Cancelar\";\n        nextPantalla = \"cita_n4_motivo\";\n      }\n      break;\n\n    case \"cita_n4_motivo\":\n      if (msg === \"9\") {\n        botMsg = \"Agendamiento cancelado.\\n\\n\" + MENU_AGENDA;\n        nextPantalla = \"agenda_menu\";\n        nextDatos = {};\n        break;\n      }\n      \n      nextDatos.motivo = msg;\n      botMsg = \"📞 Paso 5 de 6\\n¿Cómo será la atención?\\n\\n1. Presencial\\n2. Virtual\\n3. Llamada\\n\\n9. Cancelar\";\n      nextPantalla = \"cita_n5_canal\";\n      break;\n\n    case \"cita_n5_canal\":\n      if (msg === \"9\") {\n        botMsg = \"Agendamiento cancelado.\\n\\n\" + MENU_AGENDA;\n        nextPantalla = \"agenda_menu\";\n        nextDatos = {};\n        break;\n      }\n      \n      if (![\"1\", \"2\", \"3\"].includes(msg)) {\n        botMsg = \"❌ Opción inválida.\\n\\nEscribe 1, 2 o 3 según el tipo de atención:\\n\\n1. Presencial\\n2. Virtual\\n3. Llamada\\n\\n9. Cancelar\";\n        nextPantalla = \"cita_n5_canal\";\n      } else {\n        nextDatos.canal = CANALES[msg];\n        botMsg = \"✅ Paso 6 de 6\\nRevisa la información de tu cita:\\n\\n📅 Fecha: \" + nextDatos.fecha + \"\\n⏰ Hora: \" + nextDatos.hora + \"\\n👤 Cliente: \" + nextDatos.nombre + \"\\n📝 Motivo: \" + nextDatos.motivo + \"\\n📞 Canal: \" + nextDatos.canal + \"\\n\\n¿Qué deseas hacer?\\n1. Confirmar y guardar\\n2. Cancelar\";\n        nextPantalla = \"cita_n6_confirmar\";\n      }\n      break;\n\n    case \"cita_n6_confirmar\":\n      if (msg === \"1\") {\n        const idCita = \"CITA-\" + Date.now();\n        accion = \"crear_db\";\n        dbConfig = {\n          table: \"CITAS\",\n          data: {\n            id_cita: idCita,\n            fecha: nextDatos.fecha,\n            hora: nextDatos.hora,\n            nombre: nextDatos.nombre,\n            motivo: nextDatos.motivo,\n            canal: nextDatos.canal,\n            estado: \"pendiente\",\n            creado_por: telegramUser,\n            timestamp_creacion: new Date().toISOString()\n          }\n        };\n        botMsg = \"✅ ¡Listo! Tu cita quedó agendada correctamente.\\n\\n🆔 ID de la cita: \" + idCita + \"\\n📅 \" + nextDatos.fecha + \" a las \" + nextDatos.hora + \"\\n👤 \" + nextDatos.nombre + \"\\n\\n\" + MENU_AGENDA;\n        nextPantalla = \"agenda_menu\";\n        nextDatos = {};\n      }\n      else if (msg === \"2\") {\n        botMsg = \"❌ Agendamiento cancelado.\\n\\n\" + MENU_AGENDA;\n        nextPantalla = \"agenda_menu\";\n        nextDatos = {};\n      }\n      else {\n        botMsg = \"Por favor elige una opción válida:\\n\\n1. Confirmar y guardar\\n2. Cancelar\";\n        nextPantalla = \"cita_n6_confirmar\";\n      }\n      break;\n\n    case \"ver_citas\":\n      const resultados = datos.results || [];\n      if (resultados.length === 0) {\n        botMsg = \"📅 Tu agenda está vacía.\\n\\nNo tienes citas agendadas aún.\\n\\n\" + MENU_AGENDA;\n        nextPantalla = \"agenda_menu\";\n      } else {\n        botMsg = \"📅 TUS CITAS AGENDADAS\\n\\n\" + resultados.map((c, i) => \n          (i + 1) + \". \" + c.nombre + \"\\n   📅 \" + c.fecha + \" - \" + c.hora + \"\\n   📝 \" + c.motivo + \"\\n   📞 \" + c.canal + \"\\n   Estado: \" + c.estado\n        ).join(\"\\n\\n\") + \"\\n\\n9. Volver al menú principal\";\n        nextPantalla = \"ver_citas_resultado\";\n        nextDatos = { results: resultados };\n      }\n      break;\n\n    case \"ver_citas_resultado\":\n      if (msg === \"9\") {\n        botMsg = MENU_PRINCIPAL;\n        nextPantalla = \"menu_principal\";\n        nextDatos = {};\n      } else {\n        botMsg = \"Escribe 9 para volver al menú principal.\";\n        nextPantalla = \"ver_citas_resultado\";\n      }\n      break;\n\n    case \"tareas_menu\":\n      if (msg === \"1\") {\n        botMsg = \"Vamos a crear una nueva tarea 📝\\n\\nPaso 1 de 4\\n¿Cuál es el título de la tarea?\\n\\nEjemplo: Enviar propuesta comercial\\n\\n9. Cancelar\";\n        nextPantalla = \"tarea_n1_titulo\";\n        nextDatos = {};\n      }\n      else if (msg === \"2\") {\n        accion = \"get_db\";\n        dbConfig = {\n          table: \"TAREAS\",\n          filters: [{ column: \"creado_por\", value: telegramUser }],\n          nextState: \"ver_tareas\"\n        };\n        botMsg = \"Consultando tus tareas...\";\n        nextPantalla = \"ver_tareas\";\n      }\n      else if (msg === \"9\") {\n        botMsg = MENU_PRINCIPAL;\n        nextPantalla = \"menu_principal\";\n        nextDatos = {};\n      }\n      else {\n        botMsg = \"❌ Opción no válida.\\n\\n\" + MENU_TAREAS;\n        nextPantalla = \"tareas_menu\";\n      }\n      break;\n\n    case \"tarea_n1_titulo\":\n      if (msg === \"9\") {\n        botMsg = MENU_TAREAS;\n        nextPantalla = \"tareas_menu\";\n        nextDatos = {};\n        break;\n      }\n      \n      if (msg.length < 5) {\n        botMsg = \"❌ El título debe tener al menos 5 caracteres.\\n\\nEscribe un título descriptivo.\\n\\n9. Cancelar\";\n        nextPantalla = \"tarea_n1_titulo\";\n      } else {\n        nextDatos.titulo = msg;\n        botMsg = \"Paso 2 de 4\\n¿Cuál es la prioridad?\\n\\n1. Alta\\n2. Media\\n3. Baja\\n\\n9. Cancelar\";\n        nextPantalla = \"tarea_n2_prioridad\";\n      }\n      break;\n\n    case \"tarea_n2_prioridad\":\n      if (msg === \"9\") {\n        botMsg = MENU_TAREAS;\n        nextPantalla = \"tareas_menu\";\n        nextDatos = {};\n        break;\n      }\n      \n      if (![\"1\", \"2\", \"3\"].includes(msg)) {\n        botMsg = \"❌ Opción inválida.\\n\\n1. Alta\\n2. Media\\n3. Baja\\n\\n9. Cancelar\";\n        nextPantalla = \"tarea_n2_prioridad\";\n      } else {\n        nextDatos.prioridad = PRIORIDADES[msg];\n        botMsg = \"Paso 3 de 4\\n¿Fecha objetivo? (opcional)\\n\\nFormato: YYYY-MM-DD\\nEjemplo: 2025-02-15\\n\\nEscribe 0 si no tiene fecha límite.\\n\\n9. Cancelar\";\n        nextPantalla = \"tarea_n3_fecha\";\n      }\n      break;\n\n    case \"tarea_n3_fecha\":\n      if (msg === \"9\") {\n        botMsg = MENU_TAREAS;\n        nextPantalla = \"tareas_menu\";\n        nextDatos = {};\n        break;\n      }\n      \n      if (msg === \"0\") {\n        nextDatos.fecha_objetivo = \"\";\n      } else {\n        const validFechaTarea = validarFecha(msg);\n        if (!validFechaTarea.valido) {\n          botMsg = \"❌ \" + validFechaTarea.error + \"\\n\\nFormato: YYYY-MM-DD\\nEscribe 0 si no tiene fecha límite.\\n\\n9. Cancelar\";\n          nextPantalla = \"tarea_n3_fecha\";\n          break;\n        }\n        nextDatos.fecha_objetivo = msg;\n      }\n      \n      botMsg = \"✅ Paso 4 de 4\\nRevisa tu tarea:\\n\\n📝 Título: \" + nextDatos.titulo + \"\\n⚡ Prioridad: \" + nextDatos.prioridad + \"\\n📅 Fecha objetivo: \" + (nextDatos.fecha_objetivo || \"Sin fecha\") + \"\\n\\n1. Confirmar y guardar\\n2. Cancelar\";\n      nextPantalla = \"tarea_n4_confirmar\";\n      break;\n\n    case \"tarea_n4_confirmar\":\n      if (msg === \"1\") {\n        const idTarea = \"TAREA-\" + Date.now();\n        accion = \"crear_db\";\n        dbConfig = {\n          table: \"TAREAS\",\n          data: {\n            id_tarea: idTarea,\n            titulo: nextDatos.titulo,\n            prioridad: nextDatos.prioridad,\n            estado: \"pendiente\",\n            fecha_objetivo: nextDatos.fecha_objetivo,\n            creado_por: telegramUser\n          }\n        };\n        botMsg = \"✅ ¡Tarea creada exitosamente!\\n\\n🆔 ID: \" + idTarea + \"\\n📝 \" + nextDatos.titulo + \"\\n\\n\" + MENU_TAREAS;\n        nextPantalla = \"tareas_menu\";\n        nextDatos = {};\n      }\n      else if (msg === \"2\") {\n        botMsg = \"❌ Tarea cancelada.\\n\\n\" + MENU_TAREAS;\n        nextPantalla = \"tareas_menu\";\n        nextDatos = {};\n      }\n      else {\n        botMsg = \"Elige una opción:\\n\\n1. Confirmar y guardar\\n2. Cancelar\";\n        nextPantalla = \"tarea_n4_confirmar\";\n      }\n      break;\n\n    case \"ver_tareas\":\n      const tareas = datos.results || [];\n      if (tareas.length === 0) {\n        botMsg = \"📋 No tienes tareas pendientes.\\n\\n\" + MENU_TAREAS;\n        nextPantalla = \"tareas_menu\";\n        nextDatos = {};\n      } else {\n        botMsg = \"📋 TUS TAREAS\\n\\n\" + tareas.map((t, i) => \n          (i + 1) + \". \" + t.titulo + \"\\n   ⚡ \" + t.prioridad + \"\\n   📅 \" + (t.fecha_objetivo || \"Sin fecha\") + \"\\n   Estado: \" + t.estado\n        ).join(\"\\n\\n\") + \"\\n\\n9. Volver al menú principal\";\n        nextPantalla = \"ver_tareas_resultado\";\n        nextDatos = { results: tareas };\n      }\n      break;\n\n    case \"ver_tareas_resultado\":\n      if (msg === \"9\") {\n        botMsg = MENU_PRINCIPAL;\n        nextPantalla = \"menu_principal\";\n        nextDatos = {};\n      } else {\n        botMsg = \"Escribe 9 para volver al menú principal.\";\n        nextPantalla = \"ver_tareas_resultado\";\n      }\n      break;\n\n    default:\n      botMsg = \"❌ Estado desconocido.\\n\\n\" + MENU_PRINCIPAL;\n      nextPantalla = \"menu_principal\";\n      nextDatos = {};\n  }\n}\n\n// ============================================================================\n// OUTPUT\n// ============================================================================\n\nreturn {\n  json: {\n    chat_id: chatId,\n    bot_msg: botMsg,\n    accion: accion,\n    nextState: {\n      telegram_user: telegramUser,\n      pantalla_actual: nextPantalla,\n      datos_parciales: JSON.stringify(nextDatos),\n      timestamp_ultima_interaccion: new Date().toISOString(),\n      session_row_id: session.session_row_id\n    },\n    dbConfig: dbConfig\n  }\n};"
      },
      "name": "Logic Processor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 400]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.accion }}",
        "rules": {
          "rules": [
            {
              "value2": "get_db",
              "output": 0
            },
            {
              "value2": "crear_db",
              "output": 1
            }
          ]
        },
        "fallbackOutput": 2
      },
      "name": "Action Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [2220, 400]
    },
    {
      "parameters": {
        "operation": "getRows",
        "documentId": {
          "__rl": true,
          "value": "196K9mqVfhN8JUFpZfrvXQftcrTnQxOCqiUU_aB6I52Q",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.dbConfig?.table || 'SESSIONS' }}"
        },
        "filtersUI": {
          "values": "={{ ($json.dbConfig?.filters || []).map(f => ({ lookupColumn: f.column, lookupValue: f.value })) }}"
        },
        "options": {}
      },
      "name": "DB Fetch",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2440, 250],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PLACEHOLDER",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format DB Results - con validación de null\nconst logicData = $('Logic Processor').first().json;\nconst items = $input.all().map(i => i.json).filter(x => x.row_number);\n\n// Validar que dbConfig exista y tenga nextState\nif (!logicData.dbConfig || !logicData.dbConfig.nextState) {\n  // Si no hay dbConfig, retornar los datos del Logic Processor sin modificar\n  return { json: logicData };\n}\n\nreturn {\n  json: {\n    ...logicData,\n    nextState: {\n      ...logicData.nextState,\n      pantalla_actual: logicData.dbConfig.nextState,\n      datos_parciales: JSON.stringify({ results: items })\n    }\n  }\n};"
      },
      "name": "Format DB Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2660, 250]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "196K9mqVfhN8JUFpZfrvXQftcrTnQxOCqiUU_aB6I52Q",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.dbConfig?.table || 'SESSIONS' }}"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": "={{ $json.dbConfig?.data || {} }}"
        },
        "options": {}
      },
      "name": "DB Create",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2440, 400],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PLACEHOLDER",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.nextState?.session_row_id }}",
              "rightValue": "",
              "operator": {
                "type": "any",
                "operation": "exists"
              }
            },
            {
              "leftValue": "={{ $json.nextState?.session_row_id }}",
              "rightValue": "",
              "operator": {
                "type": "any",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Has Session ID?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2880, 400]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "196K9mqVfhN8JUFpZfrvXQftcrTnQxOCqiUU_aB6I52Q",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "SESSIONS"
        },
        "rowNumber": "={{ $json.nextState.session_row_id }}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "pantalla_actual": "={{ $json.nextState.pantalla_actual }}",
            "datos_parciales": "={{ $json.nextState.datos_parciales }}",
            "timestamp_ultima_interaccion": "={{ $json.nextState.timestamp_ultima_interaccion }}"
          }
        },
        "options": {}
      },
      "name": "Update Session",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [3100, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PLACEHOLDER",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.bot_msg }}"
      },
      "name": "Send Telegram Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [3320, 400],
      "credentials": {
        "telegramApi": {
          "id": "PLACEHOLDER",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [[{ "node": "Set Variables", "type": "main", "index": 0 }]]
    },
    "Set Variables": {
      "main": [[
        { "node": "Get Session", "type": "main", "index": 0 }
      ]]
    },
    "Get Session": {
      "main": [[{ "node": "Session Exists?", "type": "main", "index": 0 }]]
    },
    "Session Exists?": {
      "main": [
        [{ "node": "Merge Session Data", "type": "main", "index": 1 }],
        [{ "node": "Prepare New Session", "type": "main", "index": 0 }]
      ]
    },
    "Prepare New Session": {
      "main": [[{ "node": "Create New Session", "type": "main", "index": 0 }]]
    },
    "Create New Session": {
      "main": [[{ "node": "Re-fetch Session", "type": "main", "index": 0 }]]
    },
    "Re-fetch Session": {
      "main": [[{ "node": "Merge Session Data", "type": "main", "index": 1 }]]
    },
    "Merge Session Data": {
      "main": [[{ "node": "Logic Processor", "type": "main", "index": 0 }]]
    },
    "Logic Processor": {
      "main": [[{ "node": "Action Router", "type": "main", "index": 0 }]]
    },
    "Action Router": {
      "main": [
        [{ "node": "DB Fetch", "type": "main", "index": 0 }],
        [{ "node": "DB Create", "type": "main", "index": 0 }],
        [{ "node": "Has Session ID?", "type": "main", "index": 0 }]
      ]
    },
    "DB Fetch": {
      "main": [[{ "node": "Format DB Results", "type": "main", "index": 0 }]]
    },
    "Format DB Results": {
      "main": [[{ "node": "Has Session ID?", "type": "main", "index": 0 }]]
    },
    "DB Create": {
      "main": [[{ "node": "Has Session ID?", "type": "main", "index": 0 }]]
    },
    "Has Session ID?": {
      "main": [
        [{ "node": "Update Session", "type": "main", "index": 0 }],
        [{ "node": "Send Telegram Message", "type": "main", "index": 0 }]
      ]
    },
    "Update Session": {
      "main": [[{ "node": "Send Telegram Message", "type": "main", "index": 0 }]]
    }
  }
}
